@model HaloShare.ViewModels.HomeViewModel
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1><i class="icon-file-share"></i> HaloShare</h1>
	<p class="lead">HaloShare is a variant file sharing website for Halo: Online Eldewrito.</p>
</div>

<h3>Forge Variants <a href="@Url.Action("Index", "Forge")" class="btn btn-default">View All &raquo;</a></h3>
<div class="row row-flex row-flex-wrap">
	@foreach (var map in Model.Maps)
	{
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a href="@Url.Action("Details", "Forge", new { slug = map.Slug })">
							@if (map.IsStaffPick)
							{
								<i class="fa fa-certificate" title="Staff Pick"></i>
							} @map.Title
						</a>
					</h2>
				</div>

				<div class="row" style="padding: 5px;">
					<div class="col-xs-4">
						<a class="thumbnail" href="@Url.Action("Details", "GameType", new { slug = map.Slug })" style="margin: 0;">
							<img src="~/Content/Images/Maps/@(map.GameMap.InternalName).jpg" style="width: 100%;" />
						</a>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-5" style="font-weight: bold;">Author</div>
							<div class="col-xs-7">
								<a href="@Url.Action("Index", "Profile", new { userName = map.Author.UserName })">@map.Author.DisplayName</a>
							</div>
							<div class="col-xs-5" style="font-weight: bold;">Release</div>
							<div class="col-xs-7">@map.CreatedOn.ToString("MMM dd, yyy")</div>
							<div class="col-xs-5" style="font-weight: bold;">Downloads</div>
							<div class="col-xs-7">@map.File.DownloadCount</div>
						</div>
					</div>
				</div>
				<div style="font-style: italic; margin: 2px 10px 5px 10px;">@map.ShortDescription</div>
			</div>
		</div>
	}
</div>

<aside>
	@Html.Partial("~/Views/Shared/Ads/_Long.cshtml")
</aside>

<h3>Game Variants <a href="@Url.Action("Index", "GameType")" class="btn btn-default">View All &raquo;</a></h3>
<div class="row row-flex row-flex-wrap">
	@foreach (var gametype in Model.Types)
	{
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a href="@Url.Action("Details", "GameType", new { slug = gametype.Slug })">
							@if (gametype.IsStaffPick)
							{
								<i class="fa fa-certificate" title="Staff Pick"></i>
							} @gametype.Title
						</a>
					</h2>
				</div>

				<div class="row" style="padding: 5px;">
					<div class="col-xs-4">
						<a class="thumbnail" href="@Url.Action("Details", "GameType", new { slug = gametype.Slug })" style="margin: 0;">
							<img src="~/Content/Images/Gametypes/@(gametype.GameType.InternalName).png" style="width: 100%;" />
						</a>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-5" style="font-weight: bold;">Author</div>
							<div class="col-xs-7">
								<a href="@Url.Action("Index", "Profile", new { userName = gametype.Author.UserName })">@gametype.Author.DisplayName</a>
							</div>
							<div class="col-xs-5" style="font-weight: bold;">Release</div>
							<div class="col-xs-7">@gametype.CreatedOn.ToString("MMM dd, yyy")</div>
							<div class="col-xs-5" style="font-weight: bold;">Downloads</div>
							<div class="col-xs-7">@gametype.File.DownloadCount</div>
						</div>
					</div>
				</div>
				<div style="font-style: italic; margin: 2px 10px 5px 10px;">@gametype.ShortDescription</div>
			</div>
		</div>
	}
</div>